@import url('reset.css');

body {
    background-color: black;

    .banner {
        background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
        padding-top: 4rem;
        border-bottom: 1px solid #33A8DB80;

        .banner-content {
            width: 34%;
            margin: auto;
            text-align: center;

            .logo {
                background-color: rgba(0, 0, 0, .2);
                margin: auto;
                border-radius: 100px;
                width: 32%;
                height: 22vh;
                margin-bottom: 1rem;

                img {
                    margin: auto;
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }

            h1 {
                font-size: 2.5rem;
                color: transparent;
                background: -webkit-linear-gradient(#33A8DB, #1472B7);
                background-clip: text;
                -webkit-background-clip: text;
                text-transform: uppercase;
                font-weight: 900;
            }

            p {
                color: white;
                font-size: 1.25rem;
                margin: 16px 33px 24px;
            }

            button {
                color: #31A8DD;
                background-color: transparent;
                border-image: linear-gradient(#3BA1CD, #1572B7);
                border-image-slice: 10;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 3px;
                padding: 15px 40px;
            }
        }
    }

    #course-content {
        width: 58%;
        text-align: center;
        margin: auto;

        h2 {
            color: #33A8DB;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 4px;
            margin-top: 3rem;
        }

        p {
            color: white;
            padding: 0 10rem;
            margin-top: 2rem;
            font-size: 1rem;
        }

        .modules-list {
            margin: 2rem 2rem 5rem;

            .module {
                margin: 0 auto 2rem;
                color: white;
                width: 55%;
                border: 1px solid #33A8DB;
                background-color: #252525;
                padding: 1rem;
                border-radius: 100px;
                box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
                font-size: 1rem;

                span {
                    color: #33A8DB;
                }
            }
        }
    }

    #transform-world {
        height: 45vh;
        background-image: url("../images/woman-code.png");
        background-size: cover;
        background-attachment: fixed;
        border-top: 1px solid #33A8DB80;
        border-bottom: 1px solid #33A8DB80;

        p {
            padding: 9rem;
            color: white;
            text-shadow: 3px 2px #33A8DB;
            text-transform: lowercase;
            font-size: 2.5rem;
            font-weight: 900;
            max-width: 35%;
        }
    }









}